<div class="row justify-content-center m-3">
  <a class="font-weight-bold pb-3 col-11 singeHomeworkDesc" data-toggle="collapse"
     (click)="addFocusClass()" role="button" [href]="'#homework-'+iterator"
     aria-expanded="false" aria-controls="collapseExample" [ngClass]="{'singeHomeworkDescFocused': clickedStatus}">
    <div class="row justify-content-between m-0 p-0">
      <div  class="m-0 p-1 col-6"><h1>{{homework.name}}</h1></div>
      <div class="row col-6 text-right">
        <div class="m-0 p-1 col-12">Data dodania: {{startTime}}</div>
        <div class="m-0 p-1 col-12">Termin: <span class="text-danger">{{endTime}}</span> </div>
      </div>
      <div class="col-12 m-0 p-1">
        <h3>Pozostało {{leftHours}} godzin i {{leftMinutes}} minut</h3>
      </div>
    </div>

  </a>

  <div class="collapse homeworkDesc col-11 row justify-content-center p-0" [id]="'homework-' + iterator">
    <div class="col-12 row justify-content-center p-0">
      <h2 class=" pt-2 col-12 description">Opis zadania: {{homework.description}}</h2>
      <app-show-homework-file [homeworkSet]="homework"></app-show-homework-file>
    </div>
    <div class="col-12 answear">
      <h2 class="text-center pt-2">Dodaj odpowiedź do zadania</h2>
      <form [formGroup]="homeworkResponseForm" class="row justify-content-around p-3 m-0">
        <div class="form-group col-12">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" formControlName="description" placeholder="Treść odpowiedzi">

        </textarea>
        </div>

        <div class="col-12 row justify-content-center m-0">
          <div class="custom-file col-12">
            <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelect($event)">
            <label class="custom-file-label" for="customFile">Dołącz plik do zadania</label>
          </div>

          <div class="col-12 mt-3 p-0" *ngIf="files">
            <div class="progress mt-2 mr-0 ml-0" *ngFor="let file of files" >
              <div class="progress-bar" role="progressbar" [style]="{'width': file.progress + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{file.name}}
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="formBtn col-4" (click)="addNewResponse()">Dodaj</button>
      </form>
    </div>

  </div>

</div>

