<div class="row justify-content-around m-3">
  <a class="font-weight-bold pb-3 col-11 singeHomeworkDesc" data-toggle="collapse"
     (click)="addFocusClass()" role="button" [href]="'#homework-'+iterator"
     aria-expanded="false" aria-controls="collapseExample" [ngClass]="{'singeHomeworkDescFocused': clickedStatus}">
    <div><h1 class="m-0 p-1">{{homework.name}}</h1></div>
  </a>

  <div class="collapse homeworkDesc col-11" [id]="'homework-' + iterator">
    <form [formGroup]="homeworkResponseForm" class="row justify-content-around p-3 ">
      <div class="form-group col-10">
        <label for="exampleFormControlTextarea1">Opis zadania</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <h1 class="col-10 display-4 d-block text-center pt-2">Dołącz plik</h1>
      <div class="col-10 row justify-content-center">
        <div class="custom-file col-10">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Dołącz plik do zadania</label>
        </div>
      </div>
      <button type="submit" class="formBtn col-4" (click)="addNewResponse()">Dodaj</button>
    </form>
  </div>

</div>

