.mainDiv {
  background: var(--main);
  padding: 3px;

  transition: 0.3s all;

}
.collapseClass {
  cursor: pointer;
}
.classrom {

  flex: 1 1 auto;
  position: relative;
}
.subjectToChoose {
  font-size: 25px;

background: orange;
  cursor: pointer;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
}
.role1 {
  padding-right: 10px;
  clip-path: polygon(0 0, 79% 0, 100% 100%, 0% 100%);
}
.role2 {
  padding-left: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
}

.subjectToChoose:hover {
  background: orange !important;
}
.cover {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.subject {
  background: #6161a7;
  padding: 40px !important;
}
.subjectsChoosing {
  position: fixed;
  right: 0;
  padding: 40px !important;
}
