.mainDiv {
  background: #F9C74F;
  padding: 3px;
  transition: 0.3s all;
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
}
.mainDiv:hover {
  -webkit-box-shadow: 0px 0px 14px 6px rgba(248,150,30,1);
  -moz-box-shadow: 0px 0px 14px 6px rgba(248,150,30,1);
  box-shadow: 0px 0px 14px 6px rgba(248,150,30,1);
}
.collapseClass {
  cursor: pointer;
}
.classrom {
  flex: 1 1 auto;
  position: relative;
}
.subjectToChoose {
  font-size: 25px;
  background: orange;
  cursor: pointer;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
}
.role1 {
  padding-right: 10px;
  clip-path: polygon(0 0, 79% 0, 100% 100%, 0% 100%);
}
.role2 {
  padding-left: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
}

.subjectToChoose:hover {
  background: orange !important;
}
.cover {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: #E0FBFC;
}
.subject {
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
  background: #577590;
  padding: 40px !important;
}
.subjectsChoosing {
  background: #F8961E;
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
  padding: 40px !important;
}
.example_d {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  color: #577590;
  border: 4px solid #577590;
}
.example_d:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(87,84,87,1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(87,84,87,1);
  box-shadow: 0px 0px 10px 3px rgba(87,84,87,1);
  border-color: #F8961E !important;
}
