.mainDiv {
  background: var(--main);
  padding: 3px;

}
@media(max-width: 720px) {

}
.classrom {

  flex: 1 1 auto;

}
.subjectToChoose {
  margin: 20px;
  border-radius: var(--rad);
  border: 3px solid orange;

}
.cover {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.subject {
  background: #6161a7;
  padding: 40px !important;
}
.subjectsChoosing {
  padding: 40px !important;
}
