<div *ngIf="!this.main.currentClassrom.subjects[0]">
  <h1 class="text-center p-5">Ta klasa nie ma jescze żadnych przedmiotów</h1>
</div>
<div class="cover" *ngIf="this.main.currentClassrom.subjects[0]">
  <div class="p-3">
    <div class="text-center mainDiv row p-0 justify-content-center align-items-center">
      <h1 class="display-3 font-weight-bold pb-3 collapseClass d-block col-12" data-toggle="collapse" href="#collapseExample" aria-expanded="false">
        {{this.classrom.className}}
      </h1>
      <h1 class="d-block showCode text-center d-block pb-3 col-lg-4 col-11" (click)="this.showCode($event, classrom.id)" *ngIf="this.main.isEducator">Kod dostępu</h1>
      <div class="col-12">
        <div class="collapse collapseClassInfo" id="collapseExample">
          <div class="pb-3 pt-3">
            <h1 class="display-4 font-weight-bold">Jesteś
              <span *ngIf="this.main.isEducator">założycielem klasy</span>
              <span *ngIf="this.main.currentRole === 0">uczniem</span>
              <span *ngIf="this.main.currentRole === 1 && !this.main.isEducator">nauczycielem</span>
            </h1>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row classrom m-0 p-0">

    <div class="col-lg-9 col-12 d-none d-md-block p-3" *ngIf="this.main.currentRole !== 2">
      <div class="subject" #subject>
        <app-subject [currentSubSet]="this.main.currentSubject"></app-subject>
      </div>
    </div>
    <div class="col-lg-9 col-12 d-none d-md-block p-3" *ngIf="this.main.currentRole === 2">
      <div class="subject">
        <h1 class="text-center">Brak dostępu do danych przedmiotu. Nie jesteś jego nauczycielem</h1>
      </div>
    </div>
    <div class="p-3 col-md-3 col-12" >
      <div class="d-none d-md-block text-center subjectsChoosing">
        <h1>Przedmioty</h1>
        <div class="example_d p-3 mb-3" *ngFor="let subject of subjects; let i=index" (click)="setCurrentSubject(i)">{{subject.name}}</div>
      </div>
      <div class="d-block d-md-none text-center subjectsChoosing">
        <h1>Przedmioty</h1>
        <div class=" example_d p-3 mb-3" *ngFor="let subject of subjects; let i=index" (click)="setCurrentSubject(i)" routerLink="/subject">{{subject.name}}</div>
      </div>
    </div>
  </div>
</div>
