<!-- Button trigger modal -->
<button type="button" #openRegister class="d-none" data-toggle="modal" data-target="#registerModal"></button>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h5 class="modal-title" id="exampleModalCenterTitle">Zarejestruj się</h5>
      <form [formGroup]="registerForm">
        <div class="form-group row justify-content-center">
          <div class="role role1 col-5" (click)="select(0)" [ngClass]="{'roleSelected': selectedRole === 0}">Uczeń</div>
          <div class="role role2 col-5" (click)="select(1)" [ngClass]="{'roleSelected': selectedRole === 1}">Nauczyciel</div>
        </div>
        <div class="form__group field">
          <input type="email" class="form__field" formControlName="email" placeholder="Name" name="name" id='emailRegister'/>
          <label for="emailRegister" class="form__label">Email</label>
          <div *ngIf="registerForm.controls.email.invalid && submitted" class="alert alert-danger">
            Podaj poprawny email.
          </div>
        </div>

        <div class="form__group field">
          <input type="password" class="form__field" formControlName="password" placeholder="Name" name="name" id='passwordRegister'/>
          <label for="passwordRegister" class="form__label">Hasło</label>
          <div *ngIf="registerForm.controls.password.invalid && submitted" class="alert alert-danger">
            Podaj poprawne hasło. Minimum 5 znaków.
          </div>
        </div>
        <div class="form__group field" *ngIf="!selectedRole">
          <input type="password" class="form__field" placeholder="Name" name="name" id='studentCode' formControlName="userCode"/>
          <label for="studentCode" class="form__label">Kod dostępu</label>
          <div *ngIf="registerForm.controls.userCode.invalid && submitted" class="alert alert-danger">
            Podaj poprawny kod.
          </div>
        </div>
        <div class="row justify-content-center">
          <button type="submit" class="formBtn" (click)="submit()">Wyślij</button>
        </div>
      </form>

      <div class="transformUnder" data-dismiss="modal" (click)="this.shared.openLoginModal()">
          Powrót do logowania
      </div>
    </div>
  </div>
</div>
