.modal-content {
  position: relative;
  padding: 32px 32px 0 32px;
  border-radius: 12px;
}
.modal-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
.btn-primary {
  width: 60%;
  border-radius: 12px;
}
.transformUnder {
  height: 50px;
  background: var(--green);
  border-radius: 0 0 var(--rad) var(--rad);
  padding: 10px;
  font-size: 20px;
  transform: translateY(50px);
  text-align: center;
}
.transformUnder:hover {
  cursor: pointer;
}
.transformUnder:focus {
  outline: none;
}

option {
  padding: 5px !important;
}
select {
  border-radius: var(--rad) !important;
}
.role {
  text-align: center;
  font-size: 30px;
  background: var(--dark);
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px;
}
.roleSelected {
  transform: scale(1.2);
  background: var(--warn);
}
.role1 {
  padding-right: 10px;
  clip-path: polygon(0 0, 79% 0, 100% 100%, 0% 100%);
}
.role2 {
  padding-left: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
}
