<div class="d-flex h-100 flex-column">
  <div class="text-center mainDiv">
    <h1 class="display-3 font-weight-bold">Strona główna</h1>
    <h1 class="mb-5 font-weight-bold">Najnowsze informacje</h1>
  </div>
  <div class="row rest justify-content-around">
    <div class="col-lg-8 col-12 ">
      <div class="text-center classromDiv row p-0 justify-content-center">
        <h1 class="mb-2">Twoje klasy</h1>
        <div *ngFor="let classrom of this.main.classrom; let i = index" [routerLink]="['/classrom', i]" class="singleClassrom col-11 row justify-content-center align-items-center mb-3">
          <h1 class="col-lg-9 col-12 d-block text-center text-lg-left">{{classrom.className}} - {{classrom.schoolName}}</h1>
          <h3 class="col-lg-3 col-12 d-block text-right showCode text-center mb-2 mb-lg-0" (click)="this.showCode($event, classrom.id)">Kod dostępu</h3>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 p-4 text-center classromDiv">
      <h1>Ostatnie wiadomości</h1>
    </div>
  </div>

</div>

