<div class="row m-0 p-4 mainChatDiv" id="mainChatDiv">

  <div class="chat col-12" id="chatDiv">

    <div class="singleMessage row p-0" *ngFor="let message of messages" [ngClass]="{'mineMessage': doestUserDataMatch(message.senderName, message.senderSurname)}">
      <div class="col-12">
        <span class="name">{{message.senderName}} {{message.senderSurname}}</span>
        <span class="time">{{message.sendTime}}</span>
      </div>
      <div class="col-12">
        {{message.msessage}}
      </div>
    </div>

    <div class="load" *ngIf="loader">Ładowanie wiadomości</div>
    <div class="load" *ngIf="!loader" (click)="getOlderMessages()">Pobierz starsze wiadomości</div>
  </div>

  <form class="row m-0 align-items-end p-0 col-12" [formGroup]="messageForm">
    <div class="form-group col-10 m-0 pr-2 pl-0">
      <label>
        <input type="text" class="form-control form-control-lg" placeholder="Wiadomość" formControlName="message">
      </label>
    </div>
    <button class="formBtn col-2" (click)="sendMessage()"><i class="fas fa-reply"></i></button>
  </form>

</div>

