<div class="main h-100">
  <div class="text-center mainDiv">
    <h1 class="display-1 font-weight-bold">Home-School</h1>
    <h1 class="display-4 mb-5 font-weight-bold">spróbuj nauki nie wychodząc z domu</h1>
  </div>
  <div class="text-center iconsDiv">
    <h1 class="display-4 font-weight-bold mb-5">Zalety</h1>
    <div class="row justify-content-around iconsDiv2 m-5">
      <div class="col-12 col-md-3 p-5 p-md-0 p-5 p-md-0 singleIconsDiv">
        <div class="icon">
          <i class="fas fa-child"></i>
        </div>
        <h1 class="iconsHeader">Tylko ty</h1>
        <p class="iconsP">
          Sam narzucasz sobie kiedy, gdzie i jak będziesz pracował. Nikt cię nie ograniczna
        </p>
      </div>
      <div class="col-12 col-md-3 p-5 p-md-0 singleIconsDiv">
        <div class="icon">
          <i class="fab fa-chromecast"></i>
        </div>
        <h1 class="iconsHeader">Nowocześność</h1>
        <p class="iconsP">
          Świat ciągle idzie do przodu czas, żeby sposób w jaki się uczymy też się zmieniał
        </p>
      </div>
      <div class="col-md-3 p-5 p-md-0 col-12 singleIconsDiv">
        <div class="icon">
          <i class="fas fa-graduation-cap"></i>
        </div>
        <h1 class="iconsHeader">Wygoda</h1>
        <p class="iconsP">
          Home-School pozwala na łatwe, szybkie i proste dodawanie i rozwiązywanie zadań. Nauka tutaj jest po
          prostu przyjemna.
        </p>
      </div>

    </div>
  </div>
  <div class="descriptionDiv">
    <div class="flex-column-reverse flex-lg-row d-flex descriptionRow">
      <div class="col-lg-6 col-12 descriptionText">
        <h1>Ułatwienie pracy dla nauczycieli</h1>
        <p class="iconsP">Wysyłanie zadań oraz oczekiwanie na odpowiedź zawsze były problemem.<br>Od dziś możesz się z tym pożegnać! Dodawaj zadania, sprawdzaj je i oceniaj przy użyciu kilku kliknięć.</p>
      </div>
      <div class="col-lg-6 col-12 p-0">
        <div class="descriptionImg descriptionImg2 img-fluid"></div>
      </div>
    </div>

    <div class="flex-column flex-lg-row d-flex descriptionRow">
      <div class="col-lg-6 col-12 p-0">
        <div class="descriptionImg descriptionImg1 img-fluid"></div>
      </div>
      <div class="col-lg-6 col-12 descriptionText">
        <h1>Pracuj wydajnie</h1>
        <p class="iconsP">Już nie musisz się trzymać planu lekcji. Ucz się wtedy kiedy masz na to ochotę.<br> Wykorzystuj zastrzyki motywacji, żeby szybko i precyzyjnie rozwiązywać zadania. Home-School daje możliwość nauki o każdej porze. </p>
      </div>
    </div>

    <div class="flex-column-reverse flex-lg-row d-flex descriptionRow">
      <div class="col-lg-6 col-12 descriptionText">
        <h1>Wszystko w jednym miejscu</h1>
        <p class="iconsP">Nie musisz już używać wielu programów do nauki jednego przedmiotu. Home-School pozwala na robienie tego wszystkiego czego oczekują nauczyciele od platformu e-lerningowej.</p>
      </div>
      <div class="col-lg-6 col-12 p-0">
        <div class="descriptionImg descriptionImg3 img-fluid"></div>
      </div>
    </div>
  </div>
  <div class="teamDiv row justify-content-center p-0 text-center pb-5">
    <h1 class="display-4 font-weight-bold mb-5 col-12 mt-5">Twórcy</h1>
    <div class="teamPersonDiv col-lg-6 col-12 row p-0 justify-content-center">
      <img src="assets/img/dawid.jpg" class="img-fluid personIMG" alt="Responsive image">
      <h1 class="col-12 pt-2 pb-2">Dawid Kruk</h1>
      <p class="iconsP">Frontend developer</p>
    </div>
    <div class="teamPersonDiv col-lg-6 col-12 flex-column justify-content-center">
      <img src="assets/img/majki.png" class="img-fluid personIMG" alt="Responsive image">
      <h1 class="col-12 pt-2 pb-2">Michał Szymbara</h1>
      <p class="iconsP">Backend developer</p>
    </div>
  </div>
  <div class="footer row justify-content-center pt-3 m-0">
    <h4 class="text-center">Home-School &copy; wszelkie prawa zastrzeżone</h4>
  </div>
</div>

