.main {
  padding: 0;
  margin: 0;
}
.mainDiv {
  background: var(--main);
  padding:25px;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}
@media(max-width: 720px) {
  .mainDiv {
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0) !important;
  }
}

.iconsDiv {
  margin: 50px 0;
}
.iconsDiv2 {
  margin: 0;
}
.iconsP {
  font-size: 20px;
}
.singleIconsDiv {
  padding:10px;
}
.icon {
  font-size: 70px;
}
.descriptionText {
  background: #DADDE5;
  padding: 100px;
}
.descriptionImg {
  background-image: url("https://www.kuchniaplus.pl/img/artykuly/pszczoly.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.buyDiv {
  padding: 50px;
  background: #EEC643;
  margin: 0;
}
.app-paypal {
  color: white;
  border-radius: 10px;
  padding: 20px;
  background: #2F405C;
  width: 80%;
}
.descriptionRow {
  margin: 0;
  padding: 0;
}
.img-fluid {
  padding: 0;
  height: 296px;
}
.descriptionDiv {
  margin-bottom: 100px;
}
