<form [formGroup]="homeworkResponseForm" class="row justify-content-around p-md-3 p-0 m-0">
  <div class="form-group col-12">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" formControlName="description" placeholder="Treść odpowiedzi"></textarea>
  </div>
  <div class="form-group col-12 row p-0 justify-content-center">
    <button class="formBtn" (click)="addLink()">Dodaj link</button>
    <label>
      <input *ngFor="let iter of linksIterator; let i = index" type="text"  class="form-control col-12 mt-2 mb-2"  [(ngModel)]="linkHrefs[i]" [ngModelOptions]="{standalone: true}" (ngModelChange)="this.show(i)">
    </label>
  </div>
  <div class="col-12 row justify-content-center m-0">
    <div class="custom-file col-12">
      <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelect($event)">
      <label class="custom-file-label" for="customFile">Dołącz plik do zadania</label>
    </div>

    <div class="col-12 mt-3 p-0" *ngIf="files">
      <div class="progress mt-2 mr-0 ml-0" *ngFor="let file of files" >
        <div class="progress-bar" role="progressbar"
             [style]="{'width': file.progress + '%'}"
             [ngClass]="{'green': file.finished}"
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{file.name}}</div>
      </div>
    </div>
  </div>
  <button type="submit" class="formBtn col-md-4 col-8 mb-2 mb-md-0" (click)="addNewResponse()">Dodaj</button>
</form>
