<!-- Button trigger modal -->
<button type="button" #openRegister class="d-none" data-toggle="modal" data-target="#registerModal"></button>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h5 class="modal-title" id="exampleModalCenterTitle">Zarejestruj się</h5>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adres email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
        </div>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary">Wyślij</button>
        </div>
      </form>

      <div class="transformUnder" data-dismiss="modal" (click)="this.shared.openLoginModal()">
        <div>
          Powrót do logowania
        </div>
      </div>
    </div>
  </div>
</div>
