<!-- Button trigger modal -->
<button type="button" #showHomework class="d-none" data-toggle="modal" data-target="#openHomeworkModal"></button>

<!-- Modal -->
<div class="modal fade" id="openHomeworkModal" tabindex="-1" role="dialog" aria-labelledby="openHomeworkModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-3" *ngIf="response">
        <app-homework-response [responseSet]="response"></app-homework-response>
      <form [formGroup]="markForm">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="6" formControlName="mark" maxlength="1">
        </div>

      </form>
      <button type="submit" class="formBtn" (click)="addMark()">Oceń</button>
    </div>
  </div>
</div>
