<button type="button" #showHomework class="d-none" data-toggle="modal" data-target="#openHomeworkModal"></button>

<div class="modal fade" id="openHomeworkModal" tabindex="-1" role="dialog" aria-labelledby="openHomeworkModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-3" *ngIf="response">
        <app-homework-response [responseSet]="response"></app-homework-response>
      <div class="row m-0 p-0 justify-content-between gradeRow">
        <form [formGroup]="markForm" class="col-6">
          <div class="form-group">
            <input type="email" class="form-control markInput" placeholder="6" formControlName="mark" maxlength="1">
          </div>
        </form>
        <button type="submit" class="formBtn col-5" (click)="addMark()">Oceń</button>
      </div>
    </div>
  </div>
</div>
