.addNewHomeworkForm {
  background: #43AA8B;
  border-radius: var(--rad);
}
.button_cont {
  background: red;
}

.subHomeworks {
  font-size: 35px;
  padding: 7px;
}
.subButtons {
  padding: 10px;
  border-bottom: 3px solid black;
  margin-bottom: 15px !important;
}
.homeworksDiv {
  padding: 10px;
  background: #F9C74F;
  border-radius: var(--rad);
}
.subBtn {
  font-size: 20px !important;
  text-align: center !important;
}
.example_d {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  color: #F8961E;
  border: 4px solid #F8961E;
}
.example_d:hover {
  border-color: #577590 !important;
  -webkit-box-shadow: 0 0 10px 3px rgba(87,84,87,1);
  -moz-box-shadow: 0 0 10px 3px rgba(87,84,87,1);
  box-shadow: 0 0 10px 3px rgba(87,84,87,1);
}

.fullWidth {
  width: 100vh;
  height: 100vh;
  top:0;
  left:0;
}
.example_f {
  border-radius: 20px;
  font-weight: bold;
  padding: 15px;
}
.goBackDiv {
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: 5;
  background: #90BE6D;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.4s;
}
.goBackDiv:hover {
  background: #739754;
}
