.mainDiv {
  background: var(--main);
  padding:25px;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}
@media(max-width: 720px) {
  .mainDiv {
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0) !important;
  }
}
.contactDetails {
  background: #E0FBFC;
}
.cover {
  min-height: 100%;
}
.rest {
  margin-top: -150px;
  padding-top: 150px;
  background: var(--submit)
}
.contactUs {
  background: #43AA8B;
  border-top-left-radius: var(--rad);
  border-top-right-radius: var(--rad);
  text-align: center;
  margin: 0;
  padding:20px;
  border-bottom: 2px solid black;
}
.container {
  border-radius: var(--rad) !important;
}
.singeInfo {
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 2px solid grey;
  font-size: 35px;
}
.singeInfo:last-child {
  border-bottom: none !important;
}

@media(min-width: 720px) {
  .infoRow {
    border-left: 2px solid grey;
  }
}
@media(max-width: 720px) {
  .profilePicRow {
    border-bottom: 2px solid grey;
  }
}
.img-fluid {
  border: 4px solid #F8961E;
  border-radius: var(--rad);
}
