<div class="row justify-content-center m-3">
  <a class="font-weight-bold pb-3 col-11 singeHomeworkDesc" data-toggle="collapse"
     (click)="addFocusClass()" role="button" [href]="'#quiz-'+iterator"
     aria-expanded="false" aria-controls="collapseExample" [ngClass]="{'singeHomeworkDescFocused': clickedStatus}">
    <div class="row justify-content-between m-0 p-0">
      <div  class="m-0 p-1 col-md-6 col-12"><div class="fontMedium">{{homework.name}}</div></div>
      <div class="row col-md-6 col-12 text-md-right">
        <div class="m-0 p-1 col-12">Data dodania: {{startTime}}</div>
        <div class="m-0 p-1 col-12">Termin: <span class="text-danger">{{endTime}}</span> </div>
      </div>
      <div class="col-12 m-0 p-1">
        <h3>Pozostało {{leftHours}} godzin i {{leftMinutes}} minut</h3>
      </div>
    </div>
  </a>

  <div class="collapse homeworkDesc col-11 row justify-content-center p-0" [id]="'quiz-' + iterator">
    <div class="col-12 row justify-content-center p-0">
      <div class="col-12 p-3">
        <span class="infoSpan">Opis zadania</span>
      </div>
      <h2 class="pr-3 pl-3 pb-3 col-12 m-0 description">{{homework.description}}</h2>
      <app-show-homework-file [homeworkSet]="homework" class="col-12 p-0"></app-show-homework-file>
    </div>
    <div class="col-12 p-0">
      <div class="col-12 p-3">
        <span class="infoSpan">Twoja odpowiedź</span>
      </div>
      <app-add-homework-response [homeworkSet]="homework"></app-add-homework-response>
    </div>
  </div>
</div>

