form {
  background: #e3e3e3;
  color: black;
  margin-top: 10px;
  border-radius: 10px;
}
.green {
  background-color: green;
}
input, textarea {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
