<div class="d-flex h-100 flex-column">
  <div class="text-center mainDiv">
    <div class="fontBigger">Strona główna</div>
    <div class="mb-5 fontMedium ">Najnowsze informacje</div>
  </div>
  <div class="row rest justify-content-around align-items-start">
    <div class="col-lg-8 col-12 ">
      <div class="text-center classromDiv row p-0 justify-content-center">
        <div class="mb-2 fontMedium">Twoje klasy</div>
        <div *ngFor="let classrom of this.main.classrom; let i = index" [routerLink]="['/classrom', i]" class="singleClassrom col-11 row justify-content-center align-items-center mb-3">
          <div class="col-lg-9 col-12 d-block text-center text-lg-left fontNormal">{{classrom.className}} - {{classrom.schoolName}}</div>
          <div class="col-lg-3 col-12 d-block text-right showCode text-center mb-2 mb-lg-0 fontNormal" (click)="this.showCode($event, classrom.id)">Kod dostępu</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="classromDiv text-center row p-0 justify-content-center">
        <div class="fontMedium">Ostatnie wiadomości</div>
        <div class="fontMedium">Wkrótce!</div>
      </div>
    </div>
  </div>
</div>

