.nav-link:hover {
  color: #ff8e00 !important;
}
.nav-link {
  cursor: pointer;
  color: white !important;
  font-size: 23px;
  transition: all 0.3s;
}
.navbar-toggler {
  border: 2px solid rgba(255, 255, 255, 0.62);
}
.navbar-toggler-icon {

}
.navbar-toggler:focus {
  outline: none;
}
.navbar {
  background-color: var(--main);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.logout {
  color: var(--warn) !important;
}
.navbar-brand {
  font-size: 30px;
  font-family: "Lato Heavy";
}
.loginNav {
  background: #F8961E !important;
  padding: 10px !important;

  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.loginNav:hover {
  background: #D05B23 !important;
  color: white !important;
}
.hr {
  display: none;
}
@media(max-width: 720px) {
  .loginNav {
    clip-path: none;
    border-radius: 20px;
  }
}
.navbar-brand:hover {
  cursor: pointer;
  color: #ff8e00 !important;
  transition: all 0.3s;
}
.dropdown-item {
  transition: 0.3s all ease;
  font-size: 20px;
  border-bottom: 1px solid grey;
}
.dropdown-item:last-child {
  border-bottom: none;
}
.dropdown-item:hover {
  background: var(--submit);
}
.active .nav-link{
  color : #ff8e00 !important;
}

.activeBrand {
  color:  #ff8e00 !important;
}
