.nav-link:hover {
  cursor: pointer;
  color: #ff8e00 !important;
  border-bottom: 1px solid !important;
}
.nav-link {
  border-bottom: 1px solid transparent;
  font-size: 23px;
  transition: all 0.3s;
}
.navbar-toggler {
  border: 1px solid #ffb351;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar {
  background-color: var(--main);
}
.logout {
  color: var(--warn) !important;
}
.navbar-brand {
  font-size: 30px;
  font-family: "Lato Heavy";
}
.loginNav {
  background: #F8961E !important;
  padding: 10px !important;
  border-radius: 25px;
  border-bottom: none;
}
.loginNav:hover {
  border-bottom: none !important;
  background: #D05B23 !important;
  color: white !important;
}
.navbar-brand:hover {
  cursor: pointer;
  color: #ff8e00 !important;
  transition: all 0.3s;
}
