<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" (click)="this.main.ifUserExists()">Home-School</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--    noone-->
    <ul class="navbar-nav ml-auto" *ngIf="!this.main.user">
      <li class="nav-item active">
        <a class="nav-link loginNav" (click)="this.shared.openLoginModal()">Zaloguj się</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="contact">Kontakt</a>
      </li>
    </ul>

<!--    teacher-->
    <ul class="navbar-nav ml-auto" *ngIf="this.main.user">
      <li class="nav-item active">
        <a class="nav-link" routerLink="profile">Konto</a>
      </li>
      <li class="nav-item active" *ngIf="this.main.user.userRole == 1">
        <a class="nav-link" routerLink="teacher/create-classrom">Zarządzanie klasą</a>
      </li>
      <li class="nav-item active" *ngIf="!this.main.classrom[1] && this.main.classrom[0]">
        <a class="nav-link" routerLink="classrom/0">Twoja klasa</a>
      </li>
      <li class="nav-item dropdown active" *ngIf="this.main.classrom[1]">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Twoje klasy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" *ngFor="let classrom of this.main.classrom; let i=index" [routerLink]="['classrom',i]">{{classrom.className}}</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="contact">Kontakt</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link logout" (click)="this.main.logout()">Wyloguj się</a>
      </li>
    </ul>

  </div>
</nav>



