.modal-content {
  position: relative;
  padding: 32px 32px 0 32px;
  border-radius: 12px;
  z-index: 100;
}
.modal-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
.btn-primary {
  width: 60%;
  border-radius: 12px;
}
.transformUnder {
  height: 50px;
  background: var(--submit);
  border-radius: 0 0 var(--rad) var(--rad);
  padding: 10px;
  font-size: 20px;
  transform: translateY(50px);
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.transformUnder:hover {
  background:  var(--submitHover);
}
.transformUnder:focus {
  outline: none;
}
