<button type="button" #openModal class="d-none" data-toggle="modal" data-target="#exampleModalCenter"></button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h5 class="modal-title" id="exampleModalCenterTitle">Zaloguj się</h5>
      <form [formGroup]="loginForm">
        <div class="form__group field">
          <input type="text" class="form__field" formControlName="email" placeholder="Name" name="name" id='emailLogin' />
          <label for="emailLogin" class="form__label">Nazwa użytkownika</label>
          <div *ngIf="loginForm.controls.email.invalid && submitted" class="alert alert-danger">
            Podaj poprawny email.
          </div>
        </div>

        <div class="form__group field">
          <input type="password" class="form__field" formControlName="password" placeholder="Name" name="name" id='passwordLogin' />
          <label for="passwordLogin" class="form__label">Hasło</label>
          <div *ngIf="loginForm.controls.password.invalid && submitted" class="alert alert-danger">
            Podaj poprawne hasło. Minimum 5 znaków.
          </div>
        </div>

        <div class="row justify-content-center">
          <button type="submit" class="formBtn" (click)="submit()">Wyślij</button>
        </div>
      </form>
      <div class="transformUnder" data-dismiss="modal" (click)="this.shared.openRegisterModal()">
          Nie masz jeszcze konta? Zarejestruj się!
      </div>
    </div>
  </div>
</div>
