<!-- Button trigger modal -->
<button type="button" #openModal class="d-none" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h5 class="modal-title" id="exampleModalCenterTitle">Zaloguj się</h5>
      <form [formGroup]="loginForm">
        <div class="form__group field">
          <input type="email" class="form__field" placeholder="Name" name="name" id='emailLogin' required />
          <label for="emailLogin" class="form__label">Email</label>
        </div>

        <div class="form__group field">
          <input type="password" class="form__field" placeholder="Name" name="name" id='passwordLogin' required />
          <label for="passwordLogin" class="form__label">Hasło</label>
        </div>

        <div class="row justify-content-center">
          <button type="submit" class="formBtn" (click)="submit()">Wyślij</button>
        </div>
      </form>
      <div class="transformUnder" data-dismiss="modal" (click)="this.shared.openRegisterModal()">
          Nie masz jeszcze konta? Zarejestruj się!
      </div>
    </div>
  </div>
</div>
