<div class="row justify-content-around m-3">
  <a class="font-weight-bold pb-3 col-11 singeHomeworkDesc" data-toggle="collapse"
     (click)="addFocusClass()" role="button" [href]="'#homework-'+iterator"
     aria-expanded="false" aria-controls="collapseExample" [ngClass]="{'singeHomeworkDescFocused': clickedStatus}">
    <div class="row justify-content-between m-0 p-0">
      <div  class="m-0 p-1 col-6">
        <h1>{{homework.name}}</h1>
        <div *ngIf="main.currentRole === 0">
          <div class="markMarked" *ngIf="homework.mark" >Ocena: {{homework.mark}}</div>
          <div class="markNoMarked" *ngIf="!homework.mark">Nie oceniono</div>
        </div>
      </div>

      <div class="row col-6 text-right">
        <div class="m-0 p-1 col-12">Data dodania: {{startTime}}</div>
        <div class="m-0 p-1 col-12">Termin: <span class="text-danger">{{endTime}}</span> </div>
        <div class="m-0 p-1 col-12" *ngIf="main.currentRole === 0">Data odesłania:
          <span class="text-danger">{{sendTime}}</span>
        </div>
      </div>
    </div>

  </a>

  <div class="collapse homeworkDesc col-11" [id]="'homework-' + iterator">

    <div *ngIf="main.currentRole === 0">
      <app-homework-response [responseSet]="this.homework.responses[0]"></app-homework-response>
    </div>
    <div *ngIf="main.currentRole === 1" class="homeworksList row m-0 p-0 justify-content-center">
      <div class="form__group col-md-5 col-10 mb-5">
        <input type="email" class="form__field" placeholder="Name" name="name" id='numberPeople' required [(ngModel)]="text" (ngModelChange)="filter()"/>
        <label for="numberPeople" class="form__label">Filtruj listę</label>
      </div>
      <div class="col-md-5 col-12 mt-2">
        <div class="example_d p-3" (click)="showGrades()" >
          Lista ocen
        </div>
      </div>
      <ul class="list-group mt-3 mb-3 col-12">
        <li class="list-group-item m-1" *ngFor="let res of this.homework.responses; let i=index" (click)="openHomeworkModal(res)">
          <div class="row p-0 m-0">
            <div class="col-12">
              <h2 class="text-center d-block">Imię i nazwisko: {{res.senderName}} {{res.senderSurname}}</h2>
              <h4 class="text-center d-block green" *ngIf="res.mark">Oceniono</h4>
              <h4 class="text-center d-block red" *ngIf="!res.mark">Nie oceniono</h4>
            </div>
          </div>
        </li>

      </ul>

    </div>
    <div *ngIf="main.currentRole === 0 && !homework.responses[0]">
      <h1 class="text-center">Niestety nie zdążyłeś odpowiedzieć na to pytanie</h1>
    </div>
  </div>

</div>

