.singeHomeworkDesc {
  background: #43AA8B;
  border-radius: var(--rad);
  padding: 10px;
  transition: 0.3s all;
  border: 2px solid inherit;
}
.singeHomeworkDesc:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,1);
}
.singeHomeworkDescFocused {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.homeworkDesc {
  border: 2px solid black;
  border-bottom-right-radius: var(--rad);
  border-bottom-left-radius: var(--rad);
  background: #90BE6D;
}
.markMarked {
  color: #AA4362;
  background: inherit;
  font-size: 28px;
}
.markNoMarked {
  background: inherit;
  font-size: 28px;
}
.list-group-item {
  transition: 0.5s all ease;
}
.list-group-item:hover {
  background: #F9C74F;
  cursor: pointer;
}
.homeworksList {
  max-height: 400px;
  overflow-y: scroll;
}
.green {
  color: var(--green)
}
.red {
   color: var(--warn)
}
