/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  height: 100%;
  font-family: Lato, serif;
  overflow-x: hidden;
}
body {
  padding-top: 71px;
}
.main {
  --width: 720px;
  --main: #004DFF; //main color
  --negative: #FFB200;
  --greyLight: #A5A9B4;
  --grey: #7C7F87;
  --rad: 12px; //radious
  --submit: #F2861B; //color of submit buttons
  --submitHover: #d57009; //color of submit buttons
  --warn: #FF004D; //color of warn buttons
  --dark: #3F1518; //dark color
  --green: #4DFF00; //green color
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #cc5207;
}
