/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  height: 100%;
  font-family: Lato, serif;
}
.main {
  --main: #255F85; //main color
  --rad: 12px; //radious
  --submit: #E9724C; //color of submit buttons
  --warn: #C5283D; //color of warn buttons
  --dark: #4C7C9B; //dark color
  --green: #1b801b; //green color
}


