<div class="p-2">
  <div class="container text-center justify-content-center containerMain">
    <h1>Dodaj nową klasę!</h1>
    <form [formGroup]="Classrom" class="row justify-content-around">

        <div class="form__group field col-md-11 col-12">
          <input type="email" class="form__field" placeholder="Name" name="name" id='className' required formControlName="className"/>
          <label for="className" class="form__label">Nazwa klasy*</label>
        </div>

        <div class="form__group field  col-md-5 col-12">
          <input type="email" class="form__field" placeholder="Name" name="name" id='numberPeople' required />
          <label for="numberPeople" class="form__label">Ilość osób*</label>
        </div>

        <div class="form__group field col-md-5 col-12">
          <input type="email" class="form__field" placeholder="Name" name="name" id='schoolName' required formControlName="schoolName"/>
          <label for="schoolName" class="form__label">Nazwa szkoły</label>
        </div>


      <button type="submit" class="formBtn col-4" (click)="addNewClass()">Wyślij</button>
    </form>
  </div>
  <div class="container text-center justify-content-center containerInfo">
    <h1>Jak to właściwie działa?</h1>
    <h3>Musisz dodać klasę</h3>



  </div>
  <div class="container text-center justify-content-center">
    <h1>Dodaj nauczyciela do istniejącej klasy?</h1>
    <h3>Musisz dodać klasę</h3>



  </div>
</div>



