.containerMain {
  margin-top: 50px;
  background: var(--main);
  border-radius: var(--rad);
  padding:20px 20px 70px 20px;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
.containerInfo {
  margin-top: -400px;
  margin-bottom: 50px;
  background: var(--submit);
  padding-top: 400px;
  padding-bottom: 25px;
  border-bottom-left-radius:  var(--rad);
  border-bottom-right-radius:  var(--rad);

}
.containerDelete {
  margin-top: -100px;
  margin-bottom: 50px;
  background: var(--main);
  padding-top: 100px;
  padding-bottom: 25px;
}
@media(max-width: 992px) {
  .containerMain {
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0) !important;
  }

}
.form {
  padding: 10px;
  background: white;
}
.mainDiv {
  background: #E0FBFC;
}
.iconsP {
  padding: 20px;
  font-size: 27px;
}
.red {
  color: var(--warn) !important;
}
.redBg {
  background: var(--warn) !important;
}
