.containerMain {
  margin-top: 50px;
  background: var(--main);
  border-radius: var(--rad);
  padding:20px 20px 70px 20px;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
.containerInfo {
  margin-top: -150px;
  background: var(--danger);
  padding-top: 150px;
  padding-bottom: 25px;
  border-bottom-left-radius:  var(--rad);
  border-bottom-right-radius:  var(--rad);
}
.form {
  padding: 10px;
  background: white;
}
