<div class="d-flex flex-column h-100 mainDiv p-2">
  <div class="container text-center justify-content-center containerMain">
    <h1>Dodaj nową klasę!</h1>
    <p class="iconsP p-0 p-md-2">Po dodaniu nowej klasy wyświetli Ci się kod dostępu.
      Wyślij go do wszystkich uczniów, którzy mają dołączyć do klasy.
      Będą go musieli podać podczas rejestracji.
    <br><span class="red">Kod dostępny jest również na stronie głównej i stronie klasy. </span>
    </p>
    <form [formGroup]="addClassromForm" class="row justify-content-around">

        <div class="form__group field col-md-11 col-12">
          <input type="email" class="form__field" placeholder="Name" name="name" id='className' formControlName="className"/>
          <label for="className" class="form__label">Nazwa klasy*</label>
          <div *ngIf="addClassromForm.controls.className.invalid && submittedFirstPart" class="alert alert-danger">
            Podaj nazwę klasy.
          </div>
        </div>

<!--        <div class="form__group field  col-md-5 col-12">-->
<!--          <input type="email" class="form__field" placeholder="Name" name="name" id='numberPeople' />-->
<!--          <label for="numberPeople" class="form__label">Ilość osób</label>-->
<!--        </div>-->

        <div class="form__group field col-md-11 col-12">
          <input type="email" class="form__field" placeholder="Name" name="name" id='schoolName' formControlName="schoolName"/>
          <label for="schoolName" class="form__label">Nazwa szkoły*</label>
          <div *ngIf="addClassromForm.controls.schoolName.invalid && submittedFirstPart" class="alert alert-danger">
            Podaj nazwę szkoły.
          </div>
        </div>


      <button type="submit" class="formBtn col-4" (click)="addNewClass()">Dodaj</button>
    </form>
  </div>
  <div class="container text-center justify-content-center containerInfo">
    <h1>Dodaj nowy przedmiot</h1>
    <form [formGroup]="addSubjectForm" class="row justify-content-around">
      <div class="form-group col-12 col-md-5">
        <h3>Wybierz klasę</h3>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="classID">
          <option *ngFor="let classrom of this.main.classrom;let indexOfelement=index;" [value]="this.main.classrom[indexOfelement].id">{{classrom.className}} - {{classrom.schoolName}} </option>
        </select>
        <div *ngIf="addSubjectForm.controls.classID.invalid && submittedSecondPart" class="alert alert-danger">
          Wybierz klasę.
        </div>
      </div>
      <div class="row justify-content-around col-12">
        <div class="form__group field col-md-5 col-12">
          <input type="email" class="form__field yellowInput" placeholder="Name" name="name" id='userToAddEmail' formControlName="userToAddEmail"/>
          <label for="userToAddEmail" class="form__label">Email nauczyciela</label>
          <div *ngIf="addSubjectForm.controls.userToAddEmail.invalid && submittedSecondPart" class="alert alert-danger">
            Podaj poprawny email.
          </div>
        </div>
        <div class="form__group field col-md-5 col-12">
          <input type="email" class="form__field yellowInput" placeholder="Name" name="name" id='subjectName' formControlName="subjectName"/>
          <label for="subjectName" class="form__label">Nazwa przedmiotu</label>
          <div *ngIf="addSubjectForm.controls.subjectName.invalid && submittedSecondPart" class="alert alert-danger">
            Podaj nazwę przedmiotu.
          </div>
        </div>
      </div>
    </form>

    <button type="submit" class="formBtn col-4" (click)="addNewSubject()">Dodaj</button>
    <h1 class="deleteSubH1">Usuń przedmiot</h1>
    <form [formGroup]="deleteSubjectForm" class="row justify-content-around">
      <div class="form-group col-12 col-md-5">
        <h3>Wybierz klasę</h3>
        <select class="form-control"  formControlName="classID">
          <option *ngFor="let classrom of this.main.classrom;let indexOfelement=index;" [value]="this.main.classrom[indexOfelement].id">{{classrom.className}} - {{classrom.schoolName}} </option>
        </select>
        <div *ngIf="this.classrom">
          <h3>Wybierz przedmiot</h3>
          <select class="form-control"  formControlName="subjectID">
            <option *ngFor="let subject of this.classrom.subjects" [value]="subject.id">{{subject.name}}</option>
          </select>
        </div>

        <div *ngIf="addSubjectForm.controls.classID.invalid && submittedSecondPart" class="alert alert-danger">
          Wybierz klasę.
        </div>
      </div>

    </form>

    <button type="submit" class="formBtn col-4 redBg" (click)="deleteSubject()">Usuń</button>

  </div>

</div>



