<div class="cover h-100 flex-column d-flex flex-column">
  <div class="text-center mainDiv">
    <h1 class="display-3 font-weight-bold">Kontakt</h1>
    <h1 class="mb-5 font-weight-bold">Skontaktuj się z nami!</h1>
  </div>
  <div class="rest h-100">
    <div class="row justify-content-center p-4">
      <div class="container mt-4 row contactDetails p-0">
        <h1 class="col-12 d-block contactUs">Skontaktuj się z nami</h1>
        <div class="row infoRow col-12 p-0">
          <div class="col-12 singeInfo row m-0">
            <div class="col-md-6 col-12 text-center text-md-left">Email:</div>
            <div class="col-md-6 col-12 text-md-right text-center">dawidmrraven@gmail.com</div>
          </div>
          <div class="col-12 singeInfo row m-0">
            <div class="col-md-6 col-12 text-center text-md-left">Telefon:</div>
            <div class="col-md-6 col-12 text-md-right text-center">503683773</div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
