<div class="cover flex-column d-flex flex-column">
  <div class="text-center mainDiv">
    <div class="fontBigger">Kontakt</div>
    <div class="mb-5 fontMedium">Skontaktuj się z nami!</div>
  </div>
  <div class="rest h-100">
    <div class="row justify-content-center p-4">
      <div class="container mt-4 row contactDetails p-0 fontMedium">
        <h1 class="col-12 d-block contactUs fontMedium">Dane kontaktowe</h1>
        <div class="row infoRow col-12 p-0">
          <div class="col-12 singeInfo row m-0">
            <div class="col-md-6 col-12 text-center text-md-left ">Email:</div>
            <div class="col-md-6 col-12 text-md-right text-center emailText">dawidmrraven@gmail.com</div>
            <div class="col-12 text-md-right text-center emailText">szymbaramichal@gmail.com</div>
          </div>
          <div class="col-12 singeInfo row m-0">
            <div class="col-md-6 col-12 text-center text-md-left">Telefon:</div>
            <div class="col-md-6 col-12 text-md-right text-center">+48 503683773</div>
            <div class="col-12 text-md-right text-center">+48 537329845</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
