<div class="cover h-100 flex-column d-flex flex-column">
  <div class="text-center mainDiv">
    <h1 class="display-3 font-weight-bold">Kontakt</h1>
    <h1 class="mb-5 font-weight-bold">Skontaktuj się z nami!</h1>
  </div>
  <div class="rest h-100">
    <div class="row justify-content-center">
      <div class="container bg-white mt-4 row">
        <div class="col-6 singeInfo">Email:</div>
        <div class="col-6 singeInfo text-right">dawidmrraven@gmail.com</div>
        <div class="col-6 singeInfo">Telefon:</div>
        <div class="col-6 singeInfo text-right">503683773</div>
      </div>
    </div>

  </div>

</div>
