.mainDiv {
  background: var(--main);
  padding:25px;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}
.cover {
  height: 100%;
}
@media (max-width: 992px) {
  .cover {
    min-height: 100% !important;
  }
}
@media(max-width: 720px) {
  .mainDiv {
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0) !important;
  }
}
.contactDetails {
  background: #E0FBFC;
}
.rest {
  margin-top: -150px;
  padding-top: 150px;
  background: var(--submit)
}
.contactUs {
  background: #43AA8B;
  border-top-left-radius: var(--rad);
  border-top-right-radius: var(--rad);
  text-align: center;
  padding:20px;
  border-bottom: 2px solid black;
}
.container {
   border-radius: var(--rad) !important;
}
.singeInfo {
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 2px solid grey;
  font-size: 35px;
}
@media(max-width: 992px) {
  .singeInfo {
    font-size: 25px !important;
  }
}
.singeInfo:last-child {
  border-bottom: none !important;
}

.infoRow {
  margin: 0;
}
