<div class="containerMain container">
<div class="container p-5 text-center">
  <h1>Wyszukaj lub znajomego</h1>
  <form [formGroup]="searchFriend" class="w-100 row justify-content-center">
    <div class="form__group field col-12">
      <input type="email" class="form__field" placeholder="Name" name="name" id='friend' required formControlName="searchName" />
      <label for="friend" class="form__label">Ilość osób*</label>
    </div>
  </form>
</div>
<div class="container friendsList">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0 text-center">
          <button class="friendBtn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Kazimierz Adam
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0 text-center">
          <button class="friendBtn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Kazimierz Adam
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container text-center justify-content-center containerInfo">
  <h1>Jak to właściwie działa?</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>


</div>
